snippet script
<script type="text/javascript">
{literal}

$0

{/literal}
</script>

endsnippet

snippet odr
$(document).ready(function() {
	$0
});
endsnippet

snippet input
<input type="$1" name="$2" value="$3">$0
endsnippet

snippet fet
<table>
	<thead>
		<tr>
			<th>$3</th>
		</tr>
	</thead>
	<tbody>
	{foreach from=$1 item=$2}
		<tr>
			<td>$4</td>
		</tr>
	{/foreach}
	</tbody>
</table>
endsnippet
